    @font-face {
        font-family: 'ForestGame';
        font-weight: normal;
        src: url(ForestGameFont.ttf);
    }

    body {
        background-image: url(phon.jpg);
        background-size: contain;
        background-attachment: fixed;

    }

    section .cards {
        background-image: url(photo_2024-08-24_12-48-48.jpg);
    }

    h1 {
        color: white;
        text-shadow: 1px 1px 1px #000;
    }

    * {
        font-family: ForestGame, Fallback, sans-serif;
    }

    section p {
        color: rgb(72, 226, 55);
        text-shadow: 1px 1px 1px #000;
        font-size: 20px;
        margin: 0;
    }

    .video-card {
        padding: 1em;
        background-color: rgb(69, 38, 8);
    }

    .videoandtext {
        display: flex;
    }

    .video-text {
        padding-left: 3px;
        margin: auto auto;
    }

    p,
    .nav-link {
        color: white;
        text-shadow: 1px 1px 1px #000;
        font-size: 25px;
        margin-top: 0.25em;
    }

    .container-fluid {
        flex-direction: row;
    }

    .navbar-brand {
        margin-right: 0.5em;
    }


    .date {
        color: white;
        text-shadow: 1px 1px 1px #000;
    }

    footer {
        font-size: 20px;
        text-shadow: 1px 1px 1px #000;
        background-color: rgba(0, 0, 0, 0.258);
    }